@import "../../../../bower_components/bootswatch/spacelab/variables";
//noinspection CssUnknownTarget
@import 'ember-cli-bootstrap3-variables.scss';

// HACK: this is being set to '' because phantomjs pukes on @import directives that go to google fonts
$web-font-path: '' !default;
//noinspection CssUnknownTarget
@import 'ember-cli-bootstrap3-sass';
@import "../../../../bower_components/bootswatch/spacelab/bootswatch";
//noinspection CssUnknownTarget
@import "ember-cli-font-awesome-sass";

body {
  padding-top: 50px;
  margin-bottom: 50%;
}
