<div class="container">
  <h1>ember-cli-date-textbox</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque doloremque illo necessitatibus omnis
    quibusdam unde. Aliquid, consectetur consequuntur cumque ea eaque eligendi iusto nam nisi odit officia placeat
    quibusdam!</p>
</div>
